<% layout('/layouts/boilerplate') %>
<div class="row mt-3">
    <div class="col-8 offset-2">
        <h3><b>Your Querie </b></h3>
    </div>
    <br><br>
    <div class=" col-6 offset-2">
            <img class="card-img-top show-img"
            src="<%= listing.image %>" 
            alt="listing image" > <br><br>
            <div class="card-body">
              <p class="card-text">
                <b><%= listing.title %></b><br>
                <%= listing.description %><br>
                <%= listing.price%></b><br>
                <%= listing.location %></b><br>
                <%= listing.country %></b><br>
                <%= listing.Time %></b><br>
                <%= listing.lastTreatment %>
            </p>
        </div>
    </div>
    <div class="btns mt-4">
        <a href="/listings/<%= listing._id %>/suggestion"
         class="btn btn-dark col-2 offset-2">Add your valuable feedback</a>
    <!-- <form method="post" action="/listings/<%=listing._id %>?_method=delete">
        <button class="btn btn-dark offset-5">Delete</button>
    </form> -->
</div>
</div>